# =========================
# Terraform
# =========================
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files (secrets)
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# =========================
# SSH / Keys
# =========================
*.pem
*.key

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Backup / Temp
# =========================
*~
*.swp
