name: terraform-destroy

on:
  workflow_dispatch:   # manual trigger only (safe)

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-north-1
  TF_VERSION: 1.6.6
  TF_WORKING_DIR: .
  TF_VAR_aws_region: eu-north-1
  TF_VAR_name_prefix: ci-infra-dev
  TF_VAR_bucket_name: ${{ secrets.TF_VAR_bucket_name }}
  TF_VAR_ami_id: ${{ secrets.TF_VAR_ami_id }}

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform init
        run: terraform init -input=false
        working-directory: ${{ env.TF_WORKING_DIR }}

      - name: Terraform destroy
        run: terraform destroy -auto-approve
        working-directory: ${{ env.TF_WORKING_DIR }}
